* {
  margin: 0;
  padding: 0;
}

#app {
  background-image: url(../image/startbg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

#app img {
  display: flex;
  width: 3rem;
}
